<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for signing up to Wash-Me.</h1>
      <p>We hope you enjoy our services.</p>
  </body>
</html>
