/* line 1, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */
/* line 18, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/application.css.scss */
button {
  outline: none !important;
}

/* line 22, /Users/frasermaccy/Program/Coding/railsprac/wash-me/app/assets/stylesheets/application.css.scss */
.margin {
  margin: 5px;
}
@import url(jquery-ui-1.8.16.custom.css);
/* line 3, /Users/frasermaccy/.rvm/gems/ruby-2.3.4/gems/gmaps-autocomplete-rails-0.3.1/vendor/assets/stylesheets/gmaps-auto-complete.scss */
#gmaps-canvas {
  border: 1px solid #999;
  -moz-box-shadow: 0px 0px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px #ccc;
  box-shadow: 0px 0px 5px #ccc;
  height: 400px;
}

/* line 11, /Users/frasermaccy/.rvm/gems/ruby-2.3.4/gems/gmaps-autocomplete-rails-0.3.1/vendor/assets/stylesheets/gmaps-auto-complete.scss */
#gmaps-error {
  color: #cc0000;
}
