<h1>All Messages</h1>


<% if @conversations.present? %>
  <% @conversations.each do |conversation| %>
  <div>
    <%= link_to conversation.subject, conversation_path(conversation) %>
  </div>
  <% end %>
  <% else %>
  <p>no messages</p>
<% end %>

<%= link_to "New Message", new_conversation_path %>
