/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gmaps-auto-complete
 */


body{
  color:black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .875em;
  line-height: 2;
}

 button{outline: none !important;}

.nav-logo{
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-top: 20px
}

#navbar{
 overflow: hidden;
 z-index: 3;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  background-color: white;
  border-bottom: 5px solid rgba(138, 138, 138, 0.3);
  border-top: 5px solid rgba(138, 138, 138, 0.3);
}

.sticky + .body {
  padding-top: 60px;
}

.nav{
  padding: 16px 20px;
  overflow: hidden;
}
.navbar-wrapper{
  height: 86px;
  padding: 0px;
}

.nav > * {
  padding: 5px;
  font-size: 16px;
}

.button{
  background: white;
  color: black;
  width: 150px;
  height: 60px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  transition: .8s;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: black;
    cursor: pointer;
    color:rgba(40, 112, 184,0.8);
    &:before{
      transform: translateX(300px)  skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}

footer {
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 4px;
  background:#191919;
  color:#fff;
  margin:0;
  font-family: 'Nunito Sans', sans-serif;

  .centered {
    max-width:1200px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;

    .footer-logo {
      width:20%;

      img.logo {
        padding:30px 20px 10px 20px;
        max-width:100%;
      }
    }

    .footer-contact {
      width:20%;
    }

    .footer-navigation {
      width:60%;

      .footer-links-holder {
        width: 33.33333%;
        position: relative;
        float: left;
        margin: 0;

        .footer-links {
          margin:0;
          padding:0;
          list-style:none;
          -webkit-transition: max-height .5s;
          transition: max-height .5s;
        }
      }
    }
  }
  .bottom-bar {
    position:relative;
    text-align:center;
    font-size:.8em;
    background:#000;
    padding:15px 0;
  }
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  footer {
    .centered {
      flex-wrap:wrap;
      .footer-logo {
        max-width:250px;
        width:50%
      }
      .footer-contact {
        width:50%;
        padding:0 20px;
      }
      .footer-navigation {
        width:100%;
        .footer-links-holder {
          padding:0 20px;
        }
      }
    }
  }
}

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
  footer {
    .centered {
      .footer-logo {
        width:100%;
        margin:0 auto;
      }

      .footer-contact {
        width:100%;
      }

      .footer-navigation {

        .footer-links-holder {
          width:100%;
          padding:0;

          h3 {
            margin:0;
            padding:10px 20px;
            border-top:#000 1px solid;
            cursor:pointer;

            /* Down Arrows */
            &::after {
              float: right;
              margin-right: 10px;
              content: "";
              display: inline-block;
              vertical-align: middle;
              margin-top: 7px;
              width: 7px;
              height: 7px;
              border-top: 2px solid #fff;
              border-right: 2px solid #fff;
              -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
              -webkit-transition: transform .5s;
              transition: transform .5s;
            }
          }

          .footer-links {
            max-height: 0;
            overflow: hidden;
            padding:0 20px;
          }

          &.active {

            h3 {
              &::after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
            }

            .footer-links {
              max-height: 10000px;
            }
          }
        }
      }
    }
  }
}

/* Social Icons */
.social {
  text-align:center;
  a {
    display:inline-block;
    padding:7px;
    width:35px;
    height:35px;
    margin:0 2px;
    background:#fff;
    border-radius:50%;
    vertical-align:middle;
    &:hover {
      background:#65c2ed;
    }
    &.linkedin {
      padding:4px;
    }
    svg {
      .face, .twit, .link {
        fill: #000;
      }
    }
  }
}

/* Typography */
footer {
  h3 {
    font-weight:lighter;
    font-style:italic;
    margin-bottom:0;
  }

  p, li {
    font-weight:400;
    letter-spacing:0.05em;
    margin:10px 0;
  }

  a {
    color:#fff;
    text-decoration: none;
    -webkit-transition: color .5s, background .5s;
    transition: color .5s, background .5s;
    &:hover {
      color:#616161;
      text-decoration: none;
    }
  }
}

/* Misc CSS */
.clearfix {
  &:before,
  &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both;
  }
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
