/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gmaps-auto-complete
 */


body{
  color:black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .875em;
  line-height: 2;
}

 button{outline: none !important;}

.nav-logo{
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-top: 20px
}


.nav > * {
  padding: 5px;
  font-size: 16px;
}

// Mixin below used to center the button. If using in production, remove the mixin and add position relative or absolute to button.

.button{
  background: white;
  color: black;
  width: 150px;
  height: 60px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  transition: .8s;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: black;
    cursor: pointer;
    color:white;
    &:before{
      transform: translateX(300px)  skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}
