.washer-titles{
  font-size: 20px;
  text-align: left;
}

.washer-images{
  margin-bottom: 20px;
  text-align: center;
  width: 500px;
}

.washer-images .washer-titles{
  text-align: center;
  padding: 20px 0px;
  margin: 10px 40px;
}

.profile-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  line-height: 3;
  padding: 50px 0px 100px 0px;
}

.profile-container div{
  padding:2px;
  margin: 10px 40px;
}

.washer-details .washer-titles{
  padding-top: 20px;
}

.message-money{
  display: flex;
  flex-direction: column;
}

.message-money p{
  padding: 10px;
}

.rating{
  font-size: 20px;
  margin-top: 30px;
}

div .star{
  margin-top: 0;
  margin-left:0;
}

div .washer-details{
  padding-top: 40px;
}
