// Place all the styles related to the Washers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-sml{
  background: white;
  color: black;
  width: 100px;
  height: 40px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  transition: .8s;
  overflow: hidden;
  &:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px)  skewX(-15deg);
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }
  &:hover{
    background: black;
    cursor: pointer;
    color:white;
    &:before{
      transform: translateX(300px)  skewX(-15deg);
      opacity: 0.6;
      transition: .7s;
    }
    &:after{
      transform: translateX(300px) skewX(-15deg);
      opacity: 1;
      transition: .7s;
    }
  }
}

#map {
  height: 100%;
  border-radius: 4px;
  margin-bottom: 40px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
